{{define
   "base"}}
<!DOCTYPE html>
<html>
  <head>
    {{block "meta" .}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{$cacheDisabled := true}}
    {{if $cacheDisabled}}
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {{
      end
    }}
    {{
      end
    }}

    <title>{{block "title" .}} {{or .Title "Go HTMX Todo"}} {{ end }}</title>

    {{block "css" .}}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    {{
      end
    }}
    {{block "js" .}}
    {{if .DevMode}}
    <script src="../static/js/reloadBrowser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8"></script>
    {{else}}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8"></script>
    {{
      end
    }}
    <script src="https://cdn.tailwindcss.com"></script>
    {{
      end
    }}
  </head>

  <body>
    {{block "header" .}}
    <header class="bg-gray-800 text-white text-left p-4">
      <p>Menu</p>
    </header>
    {{ end }} {{block "content" .}}

    {{ end }} {{block "footer" .}}
    <footer
      class="bg-gray-800 text-white text-center py-4 absolute bottom-0 w-full"
    >
      <p>&copy; 2021 Go HTMX Todo</p>
    </footer>
    {{ end }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
{{ end }}
