{{template "base"}}
{{define "pages/signup"}}
<!DOCTYPE html>
<html>
<head>
    {{block "meta" .}}
    {{end}}
    <title>{{block "title" .}} Sign Up {{end}}</title>
    {{block "css" .}}
    {{end}}
    {{block "js" .}}
    {{end}}
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
{{end}}